{% set ns.i18n = {
  "header": {
    "toc": "Table of Contents"
  },
  "cost": {
    "free": "Free",
    "freemium": "Freemium",
    "paid": "Paid"
  },
  "foss_tag": {
    true: "Open Source",
    false: "Proprietary"
  },
  "string": {
    "refer_button": "Go check it out"
  }
} %}
