{% set ns.i18n = {
  "header": {
    "toc": "索引"
  },
  "cost": {
    "free": "免費",
    "freemium": "加值",
    "paid": "付費"
  },
  "foss_tag": {
    true: "開源",
    false: "專有"
  },
  "string": {
    "refer_button": "去看看"
  }
} %}
